@model OpenQuote

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h2>Open Quotes</h2>
</div>
<div>
    <div class="float-right">
        <a class="btn btn-primary" style="height: 35px; padding-bottom: 5px; padding-top: 5px;" data-toggle="modal" data-target="#createQuote">Create New</a>
    </div>
    <form asp-action="Search" asp-controller="Quotes" method="post">
        <div class="float-left">
            <input asp-for="SearchBar" style="border-radius: 5px; width: 500px; height: 35px;" placeholder="Search" />
        </div>
        <div class="float-right" style="padding-right: 5px;">
            <button class="btn btn-info" style="width: 150px; height: 35px; padding-bottom: 5px; padding-top: 5px;" type="submit">Search</button>
        </div>
        <div class="float-right" style="padding-right: 5px;">
            <select asp-for="Sort" style="width: 200px; height: 35px;">
                @switch (Model.Sort)
                {
                    case "Newest":
                        <option value="Newest" selected>Newest to Oldest</option>
                        <option value="Oldest">Oldest to Newest</option>
                        <option value="AtoZ">Alphabetical</option>
                        break;

                    case "Oldest":
                        <option value="Newest">Newest to Oldest</option>
                        <option value="Oldest" selected>Oldest to Newest</option>
                        <option value="AtoZ">Alphabetical</option>
                        break;

                    case "AtoZ":
                        <option value="Newest">Newest to Oldest</option>
                        <option value="Oldest">Oldest to Newest</option>
                        <option value="AtoZ" selected>Alphabetical</option>
                        break;

                    default:
                        <option value="Newest">Newest to Oldest</option>
                        <option value="Oldest">Oldest to Newest</option>
                        <option value="AtoZ" selected>Alphabetical</option>
                        break;
                }
            </select>
        </div>
    </form>
</div>
<table class="table">
    <tbody>
        @foreach (ReviewQuote rq in Model.ReviewQuotes)
        {
            <tr>
                <td>
                    <div>
                        <div class="text-center">
                            <h3>@rq.Name</h3>
                            <h4>$@rq.TotalCost</h4>
                            <p style="font-size: 19px;">@rq.DateQuoted</p>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                @for (int i = 0; i < rq.Shapes.Count; i++)
                                {
                                    string percentage = (((decimal)rq.Shapes[i].Completed / (decimal)rq.Shapes[i].Qty) * 100).ToString("n0");
                                    <div class="row">
                                        <div class="text-left col">@(i < KnownObjects.NumberPrefix.Count ? KnownObjects.NumberPrefix[i] : (i + 1).ToString()) Shape: @("#" + rq.Shapes[i].BarSize) Bar, @rq.Shapes[i].Legs.Count Legs</div>
                                        <div class="text-right col">Completed: @(rq.Shapes[i].Completed + "/" + rq.Shapes[i].Qty)</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: @percentage%;" aria-valuenow="@rq.Shapes[i].Completed" aria-valuemin="0" aria-valuemax="@rq.Shapes[i].Qty">@percentage%</div>
                                    </div>
                                }
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-12 text-center" style="padding-top: 20px">
                                        <a class="btn btn-primary text-center" style="width: 150px;" asp-action="ReviewOpen" asp-route-quoteID=@rq.QuoteID>Details</a>
                                    </div>
                                </div>
                                @if (rq.PickedUp == true)
                                {
                                    <div class="row">
                                        <div class="text-center col-12 font-weight-bold" style="font-size: 20px; padding-top: 5px">
                                            The Customer has picked up their rebar.
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="text-center col-12 font-weight-bold" style="font-size: 20px; padding-top: 5px">
                                            The Customer has not picked up their rebar yet.
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("~/Views/Shared/_PartialPopUp.cshtml", new CreateQuote())