@model Quote

@{
    ViewData["Title"] = "Create Quote";
}

<style>
    .line {
        display: inline;
    }

    .shape {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .leg {
        margin-left: 10%;
    }

    .shape-header {
        background-color: lightblue;
    }

    .quote-header {
        background-color: white;
    }

    .quote-body {
        background-color: lightgray;
    }
    label.btn.btn-primary.active {
        background-color: #28a745 !important;
        border-color: #ffc107 !important;
    }
</style>
<script src="~/js/gino's js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/js/createQuote.js"></script>
<h1 class="text-center">Create Quote - Continued</h1>

<h4 class="text-center">Edit Shapes</h4>
<hr />
<div class="row">
    <div class="card container">
        <form asp-action="Create" asp-controller="Quotes" method="post">
            <div class="card-header quote-header">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Quote Name:</label>
                    <input asp-for="Name" class="form-control" value="@Model.Name" name="name" />
                </div>
                <div class="form-group">
                    <label>Order Number:</label>
                    <input asp-for="OrderNum" class="form-control" value="@Model.OrderNum" name="OrderNum" />
                </div>
                <div class="form-group">
                    <label>Author:</label>
                    <input asp-for="Author" class="form-control" value="@Model.Author" name="Author" />
                </div>
            </div>

            @for (int i = 0; i < Model.Shapes.Count; i++)
            {
                <div class="card-body quote-body" style="margin-bottom: 10px;" id="shape-body@(i+1)">
                    <div class="panel-group" id="checkout-accordion">
                        <div class="panel panel-default checkout-panel" id="panel-shape@((i+1).ToString())" style="margin-bottom: 15px;"
                             onchange="validateShapes(@(i+1),@Model.Shapes[i].Legs.Count)" oninput="validateShapes(@(i+1),@Model.Shapes[i].Legs.Count)">
                            <div class="panel-heading checkout-heading" id="panel-billing-heading">
                                <h4 class="text-center panel-title checkout-acc-title">
                                    <a data-parent="#checkout-accordion" href="#collapse-shape@((i+1).ToString())" data-toggle="collapse">
                                        @(KnownObjects.NumberPrefix[i]) Shape
                                        <i class="fas fa-chevron-down float-right" style="text-shadow: 0 0 3px #000;font-size: 1em;color: tomato;line-height: unset;margin-top: 4px;"></i>
                                    </a>
                                    @if (Model.Shapes.Count != 1)
                                    {
                                        <a onclick="deleteShape(@(i+1))">
                                            <i class="fas fa-trash float-left" style="text-shadow: 0 0 3px #000; font-size: 1.5em; color: Tomato;"></i>
                                        </a>
                                    }

                                </h4>
                            </div>
                            <div id="collapse-shape@((i+1).ToString())" class="container panel-collapse details collapse in" style="padding-bottom: 20px;padding-top: 15px;">
                                <div class="bg-secondary panel-body checkout-inside" style="padding-bottom: 10px; outline: 6px solid #28a745!important;">
                                    <div class="bg-success text-center font-weight-bold" id="validationShape@((i+1).ToString())">The Shape will turn Green when Valid</div>
                                    <div class="row justify-content-md-center" style="padding-left: 10px; padding-right: 10px;">
                                        <div class="col-md-4 col-lg-4 col-sm form-group">
                                            <label for="exampleFormControlSelect2">Rebar #: </label>
                                            @*<select multiple="multiple" class="form-control" id="RebarNum" asp-for="Shapes[i].BarSize"
                        onchange="vaidateRebar(this.options[this.selectedIndex].text)">
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>*@

                                            <!--custom radio buttons-->
                                            <div class="input-group">
                                                <div class="input-group-btn" data-toggle="buttons">
                                                    <label class="btn btn-primary active" id="Shapes[@(i.ToString())].bar3">
                                                        <input type="radio" name="Shapes[@(i.ToString())].BarSize" value="3" autocomplete="off" checked hidden>Bar #3
                                                    </label>
                                                    <label class="btn btn-primary" id="Shapes[@(i.ToString())].bar4">
                                                        <input type="radio" name="Shapes[@(i.ToString())].BarSize" value="4" autocomplete="off" hidden hidd>Bar #4
                                                    </label>
                                                    <label class="btn btn-primary" id="Shapes[@(i.ToString())].bar5">
                                                        <input type="radio" name="Shapes[@(i.ToString())].BarSize" value="5" autocomplete="off" hidden>Bar #5
                                                    </label>
                                                    <label class="btn btn-primary" id="Shapes[@(i.ToString())].bar6">
                                                        <input type="radio" name="Shapes[@(i.ToString())].BarSize" value="6" autocomplete="off" hidden>Bar #6
                                                    </label>
                                                </div>
                                            </div>
                                            <!--custom radio buttons-->


                                        </div>
                                        <div class="col-md-3 col-lg-2 col-sm form-group">
                                            <label for="exampleFormControlSelect2">Quantity</label>
                                            <input min="1" type="number" asp-for="Shapes[i].Qty" id="quantityShape@(i+1)" />
                                        </div>
                                    </div>
                                    @for (int leg = 0; leg < Model.Shapes[i].Legs.Count; leg++)
                                    {
                                        <div class="row" style="padding-left: 10px; padding-right: 10px;">
                                            <div class="col-4 form-group">
                                                <label>@(KnownObjects.NumberPrefix[leg]) Leg Length: </label>
                                                <input class="form-control" value="" name="Shapes[@(i.ToString())].Legs[@(leg.ToString())].Length" id="Shape@(i+1).Leg@(leg+1).lenght" />
                                            </div>
                                            @if (leg != Model.Shapes[i].Legs.Count - 1)
                                            {
                                                <div class="col-5 form-group">
                                                    <label>@(KnownObjects.NumberPrefix[leg]) Leg Bend (Degrees): </label>
                                                    <input type="number" min="0" max="180" class="form-control" name="Shapes[@(i.ToString())].Legs[@(leg.ToString())].Degree"
                                                           id="Shape@(i+1).Leg@(leg+1).degree" />
                                                </div>
                                                <div class="col-3 form-group">
                                                    <label for="exampleFormControlSelect2">Mandrel: </label>
                                                    <select multiple="multiple" class="form-control" id="RebarNum" asp-for="Shapes[i].Legs[leg].Mandrel.Name"
                                                            onchange="vaidateLeg(this.options[this.selectedIndex].text)">
                                                        <option>None</option>
                                                        <option>Small</option>
                                                        <option>Medium</option>
                                                        <option>Large</option>
                                                    </select>
                                                </div>
                                            }
                                        </div>
                                        @if (leg != Model.Shapes[i].Legs.Count - 1)
                                        {
                                            <div class="row">
                                                <label style="margin-left: 60px;">Bend: </label>

                                                <div class="input-group-btn" data-toggle="buttons">
                                                    <label class="btn btn-primary active" id="Shapes[@(i.ToString())].IsLeft">
                                                        <input type="radio" name="Shapes[@(i.ToString())].Legs[@leg].IsRight" value="false" autocomplete="off" checked hidden>Left
                                                    </label>
                                                    <label class="btn btn-primary" id="Shapes[@(i.ToString())].IsRight">
                                                        <input type="radio" name="Shapes[@(i.ToString())].Legs[@leg].IsRight" value="true" autocomplete="off" hidden hidd>Right
                                                    </label>
                                                </div>
                                            </div>
                                        }
                                        <hr style="background-color: #495057;">
                                    }

                                    <button hidden id="toggle-delivery" type="button" class="btn-checkout" data-toggle="collapse" data-parent="#checkout-accordion" href="#collapse-shape@((i+2).ToString())">Next Shape</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }



            <div class="panel-group" id="checkout-accordion" hidden>

                <div class="panel panel-default checkout-panel" id="panel-shipping">
                    <div class="panel-heading checkout-heading" id="panel-shipping-heading" data-toggle="collapse" data-parent="#checkout-accordion" href="#collapse-delivery">
                        <h4 class="panel-title checkout-acc-title">
                            <a>Delivery Options</a>
                        </h4>
                    </div>
                    <div id="collapse-delivery" class="panel-collapse details collapse">
                        <div class="panel-body checkout-inside">
                            Content Second
                            <button id="toggle-payment" type="button" class="btn-checkout" data-toggle="collapse" data-parent="#checkout-accordion" href="#collapse-payment">Select Delivery Option</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default checkout-panel" id="panel-payment">
                    <div class="panel-heading checkout-heading" id="panel-payment-heading" data-toggle="collapse" data-parent="#checkout-accordion" href="#collapse-payment">
                        <h4 class="panel-title checkout-acc-title">
                            <a>Payment</a>
                        </h4>
                    </div>
                    <div id="collapse-payment" class="panel-collapse details collapse">
                        <div class="panel-body checkout-inside">
                            Content Third
                        </div>
                    </div>
                </div>
            </div>


            <div class="card container text-center">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Review Quote</button>
                    <input class="form-check-input" asp-for="@Model.UseFormulas" type="checkbox" value="@Model.UseFormulas" id="UseFormulas" style="margin-left: 20px; margin-top: 40px;">
                    <label class="form-check-label" for="defaultCheck1" style="margin-left: 40px; border-top-width: 10px; margin-top: 30px; font-size: large;">
                        Use Fomulas
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
    <link rel="stylesheet" href="~/css/createQuote.css">
    <link rel="stylesheet" href="~/css/fontawesome.css">

}
