@model IEnumerable<OpenQuote>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
@foreach (OpenQuote q in Model) {
        <tr>
            <td>
                <div>
                    <h3 class="text-center">@q.Name</h3>
                    <h4 class="text-center">$@q.TotalCost</h4>
                @for(int i = 0; i < q.Shapes.Count; i++)
                {
                    <div>
                        <div class="float-left">@(i)st Shapes: @("#" + q.Shapes[i].BarSize) Bar, @q.Shapes[i].LegCount Legs</div>
                        <div class="float-right">Completed: @(q.Shapes[i].NumCompleted + "/" + q.Shapes[i].Qty)</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="@q.Shapes[i].NumCompleted" aria-valuemin="0" aria-valuemax="@q.Shapes[i].Qty">@(q.Shapes[i].NumCompleted / q.Shapes[i].Qty)%</div>
                        </div>
                    </div>
                }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
