@model ReviewQuote

@{
    ViewData["Title"] = "ReviewQuote";
}

<style>
    .line {
        display: inline;
    }
</style>

<h1>Review Quote</h1>

<div>
    <h1 class="text-center">Total Cost: @Model.TotalCost.ToString("c")</h1>
    @foreach (UsedBar uB in Model.BarsUsed)
    {
        <div class="text-center"><span class="font-weight-bold">#@uB.BarSize Bars Used: </span>@uB.NumOfBars (@uB.BarCost.ToString("c") ea.) + @uB.NumOfCuts Cuts (@uB.CutCost.ToString("c") ea.) + @uB.NumOfBends Bends (@uB.BendCost.ToString("c") ea.)</div>
    }
    <div class="text-center"><div class="font-weight-bold">Setup Charge: </div>@Model.SetUpCharge.ToString("c")</div>
    @foreach (RemnantList rL in Model.FinalRemnants)
    {
        <div class="text-center">
            <span class="font-weight-bold">#@rL.BarSize Remnants: </span>
            @for (int i = 0; i < rL.Remnants.Count; i++)
            {
                Remnant r = rL.Remnants[i];
                string comma = "";
                if (i < rL.Remnants.Count - 1)
                {
                    comma = ",";
                }
                <span>(@r.Length.ToString("G29")" x @r.Qty)@comma</span>
            }
        </div>
    }

    <h1 class="text-center">___________________________________________________</h1>
    <h1 class="text-center">___________________________________________________</h1>
    <h1 class="text-center">___________________________________________________</h1>

    <h1 class="text-center">Instructions</h1>
    <div class="text-center">Perform cuts in the following order.</div>

    @for (int i = 0; i < Model.Shapes.Count; i++)
    {
        ReviewShape rS = Model.Shapes[i];
        <h1 class="text-center">___________________________________________________</h1>
        <h2 class="text-center"><span class="font-weight-bold">@(i < KnownObjects.NumberPrefix.Count ? KnownObjects.NumberPrefix[i] : (i + 1).ToString()) Shape</span>(x @rS.Qty): @rS.NumOfBars bars of #@rS.BarSize needed <a asp-action="Index">Edit</a><a asp-action="Index">Delete</a></h2>
        <div class="text-center"><span class="font-weight-bold">Cut each piece at: </span>@rS.CutLength.ToString("G29")"</div>
        @foreach (CutInstruction cI in rS.Instructions)
        {
            <div class="text-center"><span class="font-weight-bold">Cut </span>(@cI.CutQty) <span class="font-weight-bold">per </span>(@cI.PerLength.ToString("G29")" @cI.PerType) <span class="font-weight-bold">for </span>(@cI.ForQty @cI.PerType<span>s</span>)</div>
        }
        @for (int j = 0; j < rS.Legs.Count; j++)
        {
            ReviewLeg rL = rS.Legs[j];
            int num = j + 1;
            <div>
                <span class="font-weight-bold">Leg @num: </span><span>@rL.Length"</span>
                @if (j < rS.Legs.Count - 1)
                {
                    <div style="margin-left: 20px"><span class="font-weight-bold">Bend @num: </span><span>@rL.Degree&#176;, @rL.Mandrel Mandrel</span></div>
                }
            </div>
        }
        <div class="text-center">
            <span class="font-weight-bold">Remnants: </span>
            @for (int j = 0; j < rS.Remnants.Count; j++)
            {
                Remnant r = rS.Remnants[j];
                string comma = "";
                string used = "Will Be";
                if (j < rS.Remnants.Count - 1)
                {
                    comma = ",";
                }
                if (!r.UsedAgain)
                {
                    used = "Not";
                }
                <span>(@r.Length.ToString("G29")" x @r.Qty) @used Used Again<span>@comma</span></span>
            }
        </div>
    }
</div>