@model CapstoneMasons.Models.Formula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BarSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BarSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PinNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PinNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InGained)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InGained)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastChanged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastChanged)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FormulaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
