@model CapstoneMasons.ViewModels.FormulaCreate

@{
    ViewData["Title"] = "Edit Formula";
}

<h1>Create</h1>

<h4>Formula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @if (Model.Usable == false)
            {
                <div class="alert alert-warning" role="alert">
                    @Model.UsableMessage
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="FormulaID" type="hidden" value="@Model.FormulaID" />
            <input asp-for="LastChanged" type="hidden" value="@Model.LastChanged" />
            <input asp-for="BarSize" type="hidden" value="@Model.BarSize" />
            <input asp-for="Degree" type="hidden" value="@Model.Degree" />
            <input asp-for="MandrelID" type="hidden" value="@Model.MandrelID" />
            <div class="form-group">
                <span asp-validation-for="BarSize" class="text-danger"></span>
                <label asp-for="BarSize" class="control-label">Bar Size:</label>
                <select asp-for="BarSize" class="form-control" disabled>
                    <option value="@Model.BarSize">#@Model.BarSize</option>
                </select>
            </div>
            <div class="form-group">
                <span asp-validation-for="Degree" class="text-danger"></span>
                <label asp-for="Degree" class="control-label">Degree:</label>
                <input asp-for="Degree" class="form-control" disabled />
            </div>
            <div class="form-group">
                <span asp-validation-for="MandrelID" class="text-danger"></span>
                <label asp-for="MandrelID" class="control-label">Mandrel Size:</label>
                <select asp-for="MandrelID" class="form-control" disabled>
                    @foreach (Mandrel m in Model.Mandrels)
                    {
                        if (m.MandrelID == Model.MandrelID)
                        {
                            <option value="@m.MandrelID">@m.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <span asp-validation-for="PinNumber" class="text-danger"></span>
                <label asp-for="PinNumber" class="control-label">Pin # Placement:</label>
                <input asp-for="PinNumber" class="form-control" />
            </div>
            <div class="form-group">
                <span asp-validation-for="InGained" class="text-danger"></span>
                <label asp-for="InGained" class="control-label">Inches Gained:</label>
                <input asp-for="InGained" min="0" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
